NEXT_PUBLIC_SITE_URL=https://www.vbcbharat.com
NEXT_PUBLIC_API_BASE_URL=https://api.vbcbharat.com
NEXT_PUBLIC_WHATSAPP_NUMBER=91XXXXXXXXXX
NEXT_PUBLIC_PUBLIC_PHONE=+917327854329
NEXT_PUBLIC_OFFICE_ADDRESS=Bhubaneswar, Odisha
NEXT_PUBLIC_BRAND_NAME=VB Consultants
NEXT_PUBLIC_PUBLIC_EMAIL=consult@api.vbcbharat.com
NEXT_PUBLIC_REGISTERED_BUSINESS_NAME=Veedanath Business Consultants
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx
REVALIDATE_SECRET=change_this_if_revalidation_is_used
