NEXT_PUBLIC_SITE_URL=https://www.vbcbharat.com
NEXT_PUBLIC_API_BASE_URL=https://api.vbcbharat.com
NEXT_PUBLIC_WHATSAPP_NUMBER=91XXXXXXXXXX
NEXT_PUBLIC_BRAND_NAME=VB Consultants
NEXT_PUBLIC_REGISTERED_BUSINESS_NAME=Veedanath Business Consultants
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx
